apiVersion: v1
kind: ConfigMap
metadata:
  name: spring-config
data:
  application.properties: |
    # JPA Settings
    spring.jpa.hibernate.ddl-auto=update
    spring.jpa.show-sql=true
    spring.jpa.properties.hibernate.format_sql=true
    spring.jpa.open-in-view=false
    spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
    spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
    
    # Hikari Connection Pool
    spring.datasource.hikari.connection-timeout=20000
    spring.datasource.hikari.maximum-pool-size=10
    spring.datasource.hikari.connection-init-sql=LISTEN gradebook_updates
    
    # Driver and URL
    spring.datasource.driver-class-name=org.postgresql.Driver
    spring.datasource.url=jdbc:postgresql://postgres:5432/db
    
    # Logging
    logging.level.org.springframework.web.socket=DEBUG
    logging.level.org.springframework.messaging=DEBUG
    
    # Common
    server.port=8080
    spring.profiles.active=production

    # CORS Configuration
    cors.allowed-origins=http://nextjs-service:80
    cors.allowed-methods=GET,POST,PUT,DELETE,OPTIONS
    cors.allowed-headers=*
    cors.allow-credentials=true
    
    # WebSocket Settings
    spring.websocket.endpoint=spring-service:8080
    spring.websocket.allowed-origins=http://nextjs-service:80