apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring
  labels:
    app: spring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring
  template:
    metadata:
      labels:
        app: spring
    spec:
      containers:
      - name: spring
        image: dimavysotskiy/back:1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: CORS_ALLOWED_ORIGINS
          value: "https://vsuet-front.cloudpub.ru/"
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:postgresql://postgres:5432/db"
      
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"