apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
data:
  01-init-tables.sql: |
    -- Таблица для sbj_urls
    CREATE TABLE IF NOT EXISTS sbj_urls (
      id SERIAL PRIMARY KEY,
      group_name VARCHAR(255) NOT NULL UNIQUE,
      urls TEXT[] NOT NULL
    );

    -- Таблица для zach
    CREATE TABLE IF NOT EXISTS zach (
      id SERIAL PRIMARY KEY,                  
      zach_number VARCHAR(255) UNIQUE NOT NULL, 
      group_name VARCHAR(255) NOT NULL
    );

    -- Таблица для raiting
    CREATE TABLE IF NOT EXISTS raiting (
      id SERIAL PRIMARY KEY,                  
      group_name VARCHAR(255) NOT NULL,
      zach_number VARCHAR(255) NOT NULL, 
      sbj VARCHAR(255) NOT NULL,
      ved_type VARCHAR(255) NOT NULL,
      raiting TEXT[] NOT NULL,
      UNIQUE (group_name, zach_number, sbj, ved_type)
    );

    -- Таблица для timetable
    CREATE TABLE IF NOT EXISTS timetable (
      id SERIAL PRIMARY KEY,
      group_name VARCHAR(255) NOT NULL,
      timetable JSONB NOT NULL
    );