apiVersion: batch/v1
kind: Job
metadata:
  name: sbj-urls
  annotations:
    kueue.x-k8s.io/queue-name: "lq"  
spec:
  template:
    spec:
      initContainers:
      - name: check-db
        image: postgres:17
        command:
          - "sh"
          - "-c"
          - |
            export PGPASSWORD="$DB_PASSWORD"
            echo "Проверяем подключение к $DB_HOST:$DB_PORT..."
            
            # Проверка доступности PostgreSQL
            until pg_isready -h "$DB_HOST" -p "$DB_PORT" -U "$DB_USER" -d "$DB_NAME" -t 2; do
              echo "[$(date)] Ожидание PostgreSQL..."
              sleep 2
            done

            # Проверка существования таблицы sbj_urls
            until PGPASSWORD="$DB_PASSWORD" psql \
              -h "$DB_HOST" -p "$DB_PORT" -U "$DB_USER" -d "$DB_NAME" \
              -c "SELECT 1 FROM information_schema.tables WHERE table_name = 'sbj_urls'" | grep -q 1; do
              echo "[$(date)] Таблица sbj_urls не найдена"
              sleep 2
            done

            echo "[$(date)] Проверка завершена"
        envFrom:
        - secretRef:
            name: postgres-secrets

      containers:
      - name: sbj-urls
        image: dimavysotskiy/parser-sbj_urls:1.0
        envFrom:
        - secretRef:
            name: postgres-secrets
      restartPolicy: Never
---
apiVersion: batch/v1
kind: Job
metadata:
  name: zach
  annotations:
    kueue.x-k8s.io/queue-name: "lq"
    kueue.x-k8s.io/depends-on: "sbj-urls"
spec:
  template:
    spec:
      initContainers:
      - name: check-db
        image: postgres:17
        command:
          - "sh"
          - "-c"
          - |
            export PGPASSWORD="$DB_PASSWORD"
            echo "Проверяем подключение к $DB_HOST:$DB_PORT..."
            
            # Проверка доступности PostgreSQL
            until pg_isready -h "$DB_HOST" -p "$DB_PORT" -U "$DB_USER" -d "$DB_NAME" -t 2; do
              echo "[$(date)] Ожидание PostgreSQL..."
              sleep 2
            done

            # Проверка существования таблицы zach
            until PGPASSWORD="$DB_PASSWORD" psql \
              -h "$DB_HOST" -p "$DB_PORT" -U "$DB_USER" -d "$DB_NAME" \
              -c "SELECT 1 FROM information_schema.tables WHERE table_name = 'zach'" | grep -q 1; do
              echo "[$(date)] Таблица zach не найдена"
              sleep 2
            done

            echo "[$(date)] Проверка завершена"
        envFrom:
        - secretRef:
            name: postgres-secrets

      containers:
      - name: zach
        image: dimavysotskiy/parser-zach:1.0
        envFrom:
        - secretRef:
            name: postgres-secrets
      restartPolicy: Never
---
apiVersion: batch/v1
kind: Job
metadata:
  name: raiting
  annotations:
    kueue.x-k8s.io/queue-name: "lq"
    kueue.x-k8s.io/depends-on: "sbj-urls" 
spec:
  template:
    spec:
      initContainers:
      - name: check-db
        image: postgres:17
        command:
          - "sh"
          - "-c"
          - |
            export PGPASSWORD="$DB_PASSWORD"
            echo "Проверяем подключение к $DB_HOST:$DB_PORT..."
            
            # Проверка доступности PostgreSQL
            until pg_isready -h "$DB_HOST" -p "$DB_PORT" -U "$DB_USER" -d "$DB_NAME" -t 2; do
              echo "[$(date)] Ожидание PostgreSQL..."
              sleep 2
            done

            # Проверка существования таблицы raiting
            until PGPASSWORD="$DB_PASSWORD" psql \
              -h "$DB_HOST" -p "$DB_PORT" -U "$DB_USER" -d "$DB_NAME" \
              -c "SELECT 1 FROM information_schema.tables WHERE table_name = 'raiting'" | grep -q 1; do
              echo "[$(date)] Таблица raiting не найдена"
              sleep 2
            done

            echo "[$(date)] Проверка завершена"
        envFrom:
        - secretRef:
            name: postgres-secrets

      containers:
      - name: raiting
        image: dimavysotskiy/parser-raiting:1.0
        envFrom:
        - secretRef:
            name: postgres-secrets
      restartPolicy: Never