version: '3.8'

services:
  fastapi:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgresql://admin:admin@db:5432/db
    depends_on:
      - db
    volumes:
      - .:/app
    command: python run.py

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
