apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextjs
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nextjs
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: nextjs
    spec:
      containers:
      - name: nextjs
        image: dimavysotskiy/front:1.1
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        env:
        - name: NEXT_PUBLIC_API_URL
          value: "https://vsuet-api.cloudpub.ru/api"
        - name: WS_URL
          value: "ws://vsuet-api.cloudpub.ru/ws"
        - name: SOCKET_URL
          value: "https://vsuet-api.cloudpub.ru/ws"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"